<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Fragment</title>
</head>
<body>
<th:block th:each="comment : ${comments}" th:fragment="commentFragment">
    <div class="mb-3 pb-2 border-bottom">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <th:block th:if="${comment.commenter.imageUrl != null}">
                    <img th:src="@{${comment.commenter.imageUrl}}" alt="User Image"
                         style="width: 32px; height: 32px; border-radius: 50%; object-fit: cover;"
                         class="border border-secondary rounded-circle me-2"/>
                </th:block>
                <th:block th:unless="${comment.commenter.imageUrl != null}">
                    <i class="bi bi-person-circle d-inline-flex align-items-center justify-content-center me-2"
                       style="width: 32px; height: 32px; font-size: 32px;"></i>
                </th:block>
                <strong th:text="${comment.name}">Name</strong>
            </div>
            <small class="text-muted"
                   th:text="${#temporals.format(comment.createdTime, 'yyyy-MM-dd HH:mm')}">Date</small>
        </div>
        <p class="my-2" th:text="${comment.comment}" style="white-space: pre-wrap;">Comment text</p>
        <div th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'')') ||
                                 (#authorization.expression('hasAnyAuthority(''AUTHOR'')') && isAuthorsPost) ||
                                 (currentUser != null && currentUser.id == comment.commenter.id)}">
            <form th:action="@{/comment/update}" method="get" class="d-inline">
                <input type="hidden" th:value="${comment.id}" name="id">
                <button type="submit" class="btn btn-outline-primary btn-sm">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </form>
            <form th:action="@{/comment/delete}" method="get" class="d-inline">
                <input type="hidden" th:value="${comment.postId}" name="postId">
                <input type="hidden" th:value="${comment.id}" name="commentId">
                <button type="submit" class="btn btn-outline-danger btn-sm">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>