<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Fragment</title>
</head>
<body>
<!--<div th:fragment="filterFragment (users, selectedAuthorId, publishedAt, selectedPublishedAt, tags, selectedTagIds, url)">-->
<div class="border p-3 bg-white rounded shadow-sm"
     th:fragment="filterFragment (users, selectedAuthorId, publishedAt, selectedPublishedAt, tags, selectedTagIds, url)">
    <div class="d-flex justify-content-between align-items-center d-none d-lg-block">
        <h5 class="mb-0">Filter Posts</h5>
    </div>
    <div class="d-md-block mt-lg-2">
        <form id="filterForm" th:action="@{${url}}" method="post">
            <!--            <h5 >Filter Posts</h5>-->
            <div class="mb-2">
                <label class="form-label">Published Date</label>
                <input type="date" name="publishedAt" class="form-control" placeholder="yyyy-mm-dd"
                       th:value="${selectedPublishedAt}">
            </div>
            <div class="mb-2">
                <label class="form-label">Author</label>
                <select name="authorId" class="form-select">
                    <option th:value="${0}" th:text="${'Select Author'}"></option>
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"
                            th:selected="${user.id == selectedAuthorId}"></option>
                </select>
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label">Tags</label>
                    <button class="btn d-md-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#tagSidebar" aria-expanded="false" aria-controls="tagSidebar">
                        <i id="collapseIcon" class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div id="tagSidebar" class="scrollable-tags collapse d-md-block border rounded p-2">
                    <div th:each="tag: ${tags}">
                        <div class="form-check">
                            <input class="form-check-input tag-checkbox" type="checkbox"
                                   th:value="${tag.id}"
                                   th:id="'tag-' + ${tag.id}"
                                   th:checked="${selectedTagIds != null and selectedTagIds.contains(tag.id)}">
                            <label class="form-check-label" th:for="'tag-' + ${tag.id}"
                                   th:text="${tag.name}"></label>
                        </div>
                    </div>
<!--                    <input type="hidden" name="tagIds" id="tags-input">-->
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Apply Filter</button>
        </form>
    </div>
</div>
<!--</div>-->
</body>
</html>