<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Nav Fragment</title>
</head>
<body>
<!--<div >-->
    <nav id="mainNavbar" class="navbar bg-white border-bottom border-2 border-dark fixed-top navbar-visible"
         th:fragment="navbarFragment (unreadCount, allNotifications)">
        <div class="container-fluid">
            <div class="d-flex">
            <a class="navbar-brand" th:href="@{'/posts'}">
                <img th:src="@{/images/inkwell.png}" alt="Inkwell Logo" class="img-fluid" style="max-width: 90px;">
            </a>
            <div class="d-none d-md-flex ms-3 w-100 align-items-center" th:classappend="${currentUri.endsWith('/login') || currentUri.endsWith('/register')} ? 'd-md-none' : 'd-md-flex'"
            >
                <form id="searchForm" class="ms-3 w-100" role="search" th:action="@{/posts/search}" method="get">
                    <input id="searchInput" class="form-control form-control-sm" type="search" name="search"
                           placeholder="Search posts..." aria-label="Search">
                </form>
            </div>
            </div>
            <div class="d-flex align-items-center">
                <!-- Notification bell for small screens -->
                <div class="nav-item text-muted dropdown mx-4 d-flex align-items-center" sec:authorize="isAuthenticated()">
                    <div class="nav-item me-4" th:classappend="${currentUri.endsWith('/posts/new')} ? 'd-none' : 'd-block'">
                        <a class="nav-link d-flex active align-items-center" th:href="@{/posts/new}">
                            <i class="bi bi-pencil-square me-2 fs-5"></i>Write
                        </a>
                    </div>
                    <a class="position-relative d-inline-block text-decoration-none text-muted" href="#" id="notificationDropdownMobile"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false" th:inline="text">
                        <i id="notificationBell" class="bi bi-bell fs-4"></i>
                        <span id="notification-badge" class="position-absolute start-100 translate-middle badge rounded-pill bg-danger fw-normal"
                              th:style="'top:25%; font-size:0.7rem; display:' + (${unreadCount > 0} ? 'inline-block' : 'none')"
                              th:text="${unreadCount}">0</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="notificationDropdownMobile"
                        id="notificationListMobile" style="min-width: 250px; max-height: 300px; overflow-y: auto;">
                        <li th:each="notif : ${allNotifications}" class="border-bottom">
                            <a class="notification-link dropdown-item small text-wrap"
                               th:text="${notif.message}"
                               th:attr="data-id=${notif.id}, data-url=${notif.urlToRedirect}"
                               th:styleappend="${!notif.seen} ? 'background-color: #ffeeba; color: #212529;'"
                               href="#">
                            </a>
                        </li>
                        <li th:if="${#lists.isEmpty(allNotifications)}">
                            <span class="dropdown-item small text-muted">No new notifications</span>
                        </li>
                    </ul>
                </div>
                <div class="nav-item dropdown align-items-center">
                    <div th:replace="~{fragments/loggedInUser :: loggedInUserFragment}"></div>
                </div>
                <div class="nav-item text-muted me-1" sec:authorize="!isAuthenticated()" th:classappend="${currentUri.endsWith('/login')} ? 'd-none' : 'd-block'">
                    <a class="nav-link d-flex active align-items-center" th:href="@{/login}"
                       th:classappend="${currentUri.endsWith('/login')} ? ' active'">
                        <i class="bi bi-box-arrow-in-left me-1 fs-5"></i>
                        <span class="">Login</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
<!--</div>-->
</body>
</html>