<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Fragment</title>
</head>
<body>
<div th:fragment="paginationFragment (totalPages, currentPage, url, queryParams)"
     th:if="${totalPages > 1}">
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item"
                th:each="i: ${#numbers.sequence(1, totalPages)}"
                th:classappend="${i == currentPage + 1} ? 'active'">
                <a class="page-link"
                   th:href="@{${url} + '?start=' + ${i} + '&limit=10' + ${queryParams}}"
                   th:text="${i}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>