<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Fragment</title>
</head>
<body>
    <div class="d-md-none" th:fragment="searchFragment (searchedText, url)">
        <form th:action="@{${url}}" >
            <div class="input-group">
            <input type="search" name="search" class="form-control me-2" placeholder="Search posts..."
                   th:value="${searchedText}" aria-label="Search">
<!--            <button type="submit" class="btn btn-primary">-->
<!--                <i class="fas fa-search me-1"></i>Search-->
<!--            </button>-->
            </div>
        </form>

    </div>
</body>
</html>