<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Fragment</title>
</head>
<body>
    <div th:fragment="searchFragment (searchedText, url)">
        <form th:action="@{${url}}" >
            <div class="input-group">
            <input type="text" name="search" class="form-control me-2" placeholder="Search"
                   th:value="${searchedText}">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search me-1"></i>Search
            </button>
            </div>
        </form>

    </div>
</body>
</html>