<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination Fragment</title>
</head>
<body>
<th:block th:fragment="userListFragment">
    <div class="d-flex justify-content-between align-items-center mb-3"
         th:each="user: ${users}">
        <th:block th:if="${user.imageUrl != null}">
        <img th:src="@{${user.imageUrl}}" alt="Profile Image"
             class="rounded-circle border"
             style="height: 50px; width: 50px; object-fit: cover;"/>
        </th:block>
        <th:block th:unless="${user.imageUrl != null}">
        <i class="bi bi-person-circle fs-1 d-inline-flex align-items-center justify-content-center"
           style="height: 50px; width: 50px; object-fit: cover;"></i>
        </th:block>
        <strong th:text="${user.name}">Author</strong>
    </div>
</th:block>
</body>
</html>