<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style type="text/css">
        tr,td{
        border: 2px solid black;
        padding: 10px;
        text-align: left;
         z-index: 100;
        }
        table {
        border-spacing: 10px;
        width: 100%;
        border: 2px solid #ddd;
         z-index: 100;
        }
        a{
        float: right;
        margin-right: 50px;
        }
        .form1{
        display: inline-block;
        float: right;
        }
    </style>
</head>
<body>
<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>

<h1>My Blog Application</h1>
<div th:each="authority : ${#authentication.getAuthorities()}"
     th:if="${authority.getAuthority().equals('ADMIN')}">
    <a href="#" th:href="@{/blog/new}">Create a blog</a>
    </form>
</div>
<div align="right">
    <form action="search" style="display: inline; margin-right: 50px;">
        <input type="text" name="search" style="margin: 0px; width: 200px; height: 25px;" placeholder="Search">&nbsp;
    </form>
    <a href="#" th:href="login">Login</a>
</div>
<div align="right">
    <form th:action="@{/sort}"  class="form1">
        <label>Sort by Published Date</label>
        <input type="hidden" th:value="publishedAt" th:name="sortField">
        <select name="order">
            <option th:each="s : ${sort}" th:value="*{s}" th:text="*{s}"></option>
        </select>
        <input type="submit" style="margin: 0px; width: 200px; height: 25px;" value="Sort" placeholder="Sort">&nbsp;&nbsp;
    </form>
</div>
<div>
    <form class="form1" th:action="@{/filter}">
        <div th:each="user: ${users}">
        <input type="checkbox" name="authorId" th:value="*{user.id}">
        <label  th:text="${user.name}"> </label><br>
        </div>
        <input type="submit" style="margin: 0px; width: 200px; height: 25px;" placeholder="Filter">&nbsp;&nbsp;
    </form>
</div>
    <div align="right">
    <table>
        <tr th:each="post: ${posts}">
            <td>
                <span th:text="${post.title}"> </span><br><br>
                <span th:text="${post.author}"></span>,&nbsp;&nbsp;
                <span th:text="${post.createdAt}"></span><br><br>
                <span th:text="${post.excerpt}"></span><br>
                <form th:action="id">
                    <input type="hidden" th:value="${post.id}" name="id">
                    <input type="submit" value="Read more...">
                </form>
            </td>
        </tr>
    </table>
    </div>
<div align="center">
    <ul>
        <li style="display: inline; text-align: center;" th:each="i: ${#numbers.sequence(0,posts.totalPages-1)}">
            <a style="text-align: center;" th:href="@{'/?start='+${i}+'&limit=10'}" th:text="${i+1}" class="nav-link"></a>
        </li>
    </ul>
</div>

</body>
</html>