<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style type="text/css">
        tr,td{
        border: 2px solid black;
        padding: 10px;
        text-align: center;
         z-index: 100;
        }
        table {
        border-spacing: 10px;
        width: 100%;
        border: 2px solid #ddd;
         z-index: 100;
        }
    </style>
</head>
<body>
<h1>My Blog</h1>
<div align="center">
    <table>
        <tr>
            <td>
                <span th:text="${post.title}"> </span><br><br>
                <span th:text="${post.author}"></span>,&nbsp;&nbsp;
                <span th:text="${post.createdAt}"></span><br><br>
                <span th:text="${post.content}"></span><br>
            </td>
        </tr>
    </table>
</div>
</body>
</html>