<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style type="text/css">
        tr,td{
        border: 2px solid black;
        padding: 10px;
        text-align: center;
         z-index: 100;
        }
        table {
        border-spacing: 10px;
        width: 100%;
        border: 2px solid #ddd;
         z-index: 100;
        }
    </style>
</head>
<body>
<h1>My Blog</h1>
<div th:each="authority : ${#authentication.getAuthorities()}"
     th:if="${authority.getAuthority().equals('ADMIN')}">
    <form action="#" th:action="@{/blog/delete}">
        <input type="hidden" th:value="${post.id}" name="id">
        <input type="submit" th:value="Delete">
    </form>
    <form action="#" th:action="@{/blog/update}" method="get">
        <input type="hidden" th:value="${post.id}" th:name="id">
        <input type="submit" th:value="Update">
    </form>
</div>
<div align="center">
    <table>
        <tr>
            <td>
                <span th:text="${post.title}"> </span><br><br>
                <span th:text="${post.author}"></span>,&nbsp;&nbsp;
                <span th:text="${post.createdAt}"></span><br><br>
                <span th:each="tag: ${tags}" th:text="${tag.name} +' '"></span><br><br>
                <span th:text="${post.content}"></span><br>
            </td>
        </tr>
    </table>
</div>
<div align="center">
    <table>
        <form action="#" th:action="@{/comment}" th:object="${newComment}" method="post">
            <tr>
                <td>
                    <input type="text" th:field="*{comment}" th:name="comment" style="margin: 0px; width: 500px; height: 25px;" placeholder="Comment here.."></td>
                    <input type="hidden" th:value="${post.id}" th:name="postId" style="margin: 0px; width: 500px; height: 25px;" placeholder="Comment here.."></td>
                    <input type="hidden"  th:value="${#httpServletRequest.remoteUser}" th:name="email">
            </tr>
        </form>
    </table>

    <table>
        <tr th:each="comment: ${comments}">
            <td>
                <span style="float: left" th:text="${comment.name}"> </span>
                <span style="float: right" th:text="${comment.createdAt}"></span><br>
                <span style="float: left" th:text="${comment.email}"></span><br>
                <span style="float: left" th:text="${comment.comment}"></span><br>
                <form th:action="editComment">
                    <input type="hidden" th:value="${comment.id}" th:name="id">
                    <input type="submit" value="Edit comment">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>