<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        body {
           height: 100%;
           margin: 0;
           padding-top: 56px;
       }
       .navbar-hidden {
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
        }

        .navbar-visible {
          transform: translateY(0);
          transition: transform 0.3s ease-in-out;
        }
        input:checked, select:checked {
            background-color: #6c757d !important;  /* Bootstrap's text-muted color */
            border-color: #6c757d !important;
        }

        input:focus, select:focus {
            box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
            border-color: #6c757d !important;
        }
        input, select {
            border-color: #6c757d !important;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar :: navbarFragment(${unreadCount}, ${unreadNotifications})"></div>
<div class="container-fluid mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h2 class="mb-4">My Profile</h2>
            <!-- Profile Name and Image -->
            <div class="card shadow-sm mb-4 position-relative">
                <a href="#" data-bs-toggle="modal" data-bs-target="#changePasswordModal"
                   class="position-absolute text-muted top-0 end-0 m-2 text-decoration-none text-dark d-none d-lg-block"
                   title="Change Password">
                    <i class="bi bi-key fs-3"></i>
                </a>
                <div class="card-body">
                    <!-- User Name and Image-->
                    <div class="col-md-12 col-12 col-md-12 d-grid justify-content-center">
                        <th:block th:if="${currentUser != null and currentUser.imageUrl != null}">
                            <img th:src="@{${currentUser.imageUrl}}" alt="Profile Image" id="profileImage"
                                 class="rounded-circle border mx-auto"
                                 style="height: 120px; width: 120px; object-fit: cover; cursor: pointer;"
                                 data-bs-toggle="modal" data-bs-target="#imageModal"/>
                        </th:block>
                        <th:block th:unless="${currentUser != null and currentUser.imageUrl != null}">
                            <i class="bi bi-person-circle mx-auto d-inline-flex align-items-center justify-content-center"
                               style="width: 120px; height: 120px; font-size: 120px;"
                               data-bs-toggle="modal" data-bs-target="#imageModal"></i>
                        </th:block>
                        <div class="d-flex mt-3">
                            <label for="username" class="d-flex justify-content-center align-items-center me-3">
                                <i class="bi bi-person me-2"></i> Name
                            </label>
                            <input type="text" id="username" name="name" class="form-control"
                                   th:value="${currentUser.name}"
                                   readonly/>
                        </div>
                        <div class="d-flex mt-3">
                            <label for="email" class="d-flex justify-content-center align-items-center me-3">
                                <i class="bi bi-envelope me-2"></i> Email
                            </label>
                            <input type="text" id="email" name="email" class="form-control"
                                   th:value="${currentUser.username}" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Name and Image Update Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-muted" id="imageModalLabel">
                                <i class="bi bi-image me-1"></i> Update Profile
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="profileUpdateForm" th:action="@{/profile/update}" method="post"
                              enctype="multipart/form-data">
                            <div class="modal-body d-flex flex-column">
                                <!-- Image Preview -->
                                <div id="modalImagePreviewContainer" class="d-none">
                                    <img id="modalImagePreview" alt="New Image Preview" class="rounded-circle border"
                                         style="height: 100px; width: 100px; object-fit: cover;"/>
                                </div>
                                <!-- Name Preview -->
                                <div class="d-flex mt-3">
                                    <label for="name"
                                           class="d-flex justify-content-center align-items-center me-3 pe-1">
                                        <i class="bi bi-person me-1"></i> Name
                                    </label>
                                    <input type="text" id="name" name="name" class="form-control"
                                           th:value="${currentUser.name}"/>
                                </div>
                                <div class="d-flex my-3">
                                    <label for="name" class="d-flex justify-content-center align-items-center me-3">
                                        <i class="bi bi-image me-1"></i> Image
                                    </label>
                                    <input type="file" id="modalImageInput" accept="image/*" class="form-control"
                                           onchange="previewModalImage(event)"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-save me-1"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Form 2: Change Password -->
            <div class="card shadow-sm d-lg-none">
                <div class="card-body">
                    <h5 class="mb-3">
                        <i class="fa-solid fa-lock me-2"></i> Change Password
                    </h5>
                    <form id="changePasswordFormMobile" th:action="@{/profile/update-password}" method="post"
                          class="row g-3">
                        <div class="col-md-6">
                            <label for="currentPasswordSm" class="form-label">Current Password</label>
                            <input type="password" id="currentPasswordSm" name="currentPassword" class="form-control"
                                   required/>
                        </div>

                        <div class="col-md-6">
                            <label for="newPasswordSm" class="form-label">New Password</label>
                            <input type="password" id="newPasswordSm" name="newPassword" class="form-control" required/>
                        </div>

                        <div class="col-md-6">
                            <label for="confirmPasswordSm" class="form-label">Confirm New Password</label>
                            <input type="password" id="confirmPasswordSm" name="confirmPassword" class="form-control"
                                   required/>
                        </div>

                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-key me-1"></i> Change Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Change Password Modal -->
            <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changePasswordModalLabel">
                                <i class="fa-solid fa-lock me-2"></i> Change Password
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="changePasswordForm" th:action="@{/profile/update-password}" method="post">
                            <div class="modal-body d-flex flex-column">
                                <div class="w-100">
                                    <label for="currentPassword" class="form-label">Current Password</label>
                                    <input type="password" id="currentPassword" name="currentPassword"
                                           class="form-control"
                                           required/>
                                </div>

                                <div class="w-100">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input type="password" id="newPassword" name="newPassword" class="form-control"
                                           required/>
                                </div>

                                <div class="w-100">
                                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword"
                                           class="form-control"
                                           required/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-key me-1"></i> Change Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/toast :: toastFragment (${toastMessage}, ${toastStatusColor})"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/toast.js}"></script>
<script th:src="@{/js/profile-update.js}"></script>
<script th:src="@{/js/notification-socket.js}"></script>
</body>
</html>
